<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701589250171-lcaqtdm67ckta0vsm3mu8g797p0ht90a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701589250171-lcaqtdm67ckta0vsm3mu8g797p0ht90a</string>
	<key>API_KEY</key>
	<string>AIzaSyDTt9VmldxoOBXyEePcUHVUQBDoiOx-hxs</string>
	<key>GCM_SENDER_ID</key>
	<string>701589250171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carRentApp</string>
	<key>PROJECT_ID</key>
	<string>car-app-project-35e7d</string>
	<key>STORAGE_BUCKET</key>
	<string>car-app-project-35e7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701589250171:ios:003280f8010fb25cafc2de</string>
</dict>
</plist>